# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.log

# Virtualenv
.venv/
venv/

# VS Code
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Gradio cache
gradio_cached_examples/
